body{
	background-repeat: no-repeat;
	background-image: url(../img/cancha.jpg);
	background-size: cover;
}

#equipo{
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
}
#portero{
	display: flex;
    flex-direction: column;
    height: 95vh;
    justify-content: space-around;
}

#defensa{
	display: flex;
    flex-direction: column;
    height: 95vh;
    justify-content: space-around;
}

#media{
	display: flex;
    flex-direction: column;
    height: 95vh;
    justify-content: space-around;
}

#delantera{
	display: flex;
    flex-direction: column;
    height: 95vh;
    justify-content: space-between;
}
