h1{
	color: red;
}
footer{
	color: gray;
}

#containerAmerica,#containerSouthAm,#containerEurope, 
#containerAsia,#containerAfrica,#containerOceania{
	display: flex;
	background-color: #FFFFFF;
	flex-direction: column;
	height: 100%;
	width: 10%;
	padding: 10px;
	margin: 42px;
	float:left;margin-right: :5px; 
}

h2{
	color: #9B1010;
}