h1{
	color: red;
}
footer{
	color: gray;
}

#containerAmerica,#containerSouthAm,#containerEurope, 
#containerAsia,#containerAfrica,#containerOceania{
	background-color: #FFFFFF;
	flex-direction: column;
	height: 100%;
	width: 10%;
	padding: 10px;
	margin: 42px;

}
#inicial{
	display: flex;
	align-items: flex-start;
	justify-content:space-around;
}

h2{
	color: #9B1010;
	font-style: italic;
}
p{
	color: #9B1010;
	font-size: 1em;
	font-weight:bold;
}

#info1, #info2, #info3{
background-color: #FDFEFE;
margin: 42px;
/*background-image: url("C:/Users/Alex/Desktop/UNIVERSIDAD/2017/IIICuatri/WEB/Proyecto I Diseño Web/img/");*/
}